{% extends 'mailsender/basic.html' %}

{% block auth %}
<form action="/login/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="OK">
    <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'index' %}{% endif %}" />
</form>
<p>Пользователи: admin, user1, user2</p>
<p>Пароль: test1test</p>
{% endblock %}