<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p style="color:green">Hello, {% if user.is_authenticated %}{{ user.username }}.
        <a href="{% url 'logout' %}">Разлогиниться</a>
            {% else %}Anonymus. <a href="{% url 'login' %}">Залогиниться</a>{% endif %}
        <a href="{% url 'index' %}">На главную</a>
    </p>
    {% block auth %}
    {% endblock %}
    {% if user.is_authenticated %}
    {% block content %}
    {% endblock %}
    {% endif %}
</body>
</html>