{% extends 'mailsender/basic.html' %}

{% block content %}
{% if user.is_staff %}
<p><b>Статистика по письмам:</b></p>
{% for type in statistics %}
<p>{{ type.message_type.body }} : {{ type.total_count }}({{ type.readed_count }})</p>
{% endfor %}
{% if statistics %}<a href="{% url 'clear-statistics' %}">Очистить статистику</a>{% endif %}
{% endif %}
<p><b>Непрочитанные письма:</b></p>
{% for mes in messages %}
<p><a href="{{ mes.get_detail_url }}">{{mes.message_type.body}}</a></p>
{% endfor %}
<p><b>Активный заказ:</b></p>
{% if order.commited %}
<a href="{% url 'order' %}">Собрать корзину</a>
{% else %}
<a href="{% url 'commit-order' %}">Оформить заказ</a>
{% endif %}


{% endblock %}